body{
    background-image: url("IMG/web-design-2906159_1920.jpg");
    background-size: cover;
}

.main{
    width: 306px;
    height: 306px;
    border: 1px solid black;
    /* display: inline-block; */
    /* box-shadow:2px 3px gray; */
    margin:0 auto
    }
    .div0{
    float: left;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        background-color: white
        }
        .div1{
       
            width: 100px;
            height: 100px;
           
            }

table{
    color: white;
width: 200px;
height: 100px;
border: 2px solid black;
border-collapse: collapse;
float: right;
margin-right: 250px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

font-size: 40px;
border-radius: 10px;
}
td{
    border: 1px solid black;
}

            .X{
                width: 100px;
                height: 100px;
       background-image: url("IMG/X.jpg");
       background-repeat: no-repeat;
background-size: cover;
            }
            .O{

                width: 100px;
                height: 100px;
       background-image: url("IMG/o.jpg");
       background-repeat: no-repeat;
background-size: cover;
            }

            .ico{
                    display: block;
                    margin: 20px auto;
                width: 70px;
                height: 70px;
       background-repeat: no-repeat;
background-size: cover;
                  
            }
   

            input{
                
                
      height: 60px;
    margin-right: 200px;
    border: 1px solid black;
    border-radius: 10px;
font-size: 20px;
            }
            .input{

                display: inline-block;
                margin-left: 400px;
            }
        